
.container {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar {
  margin-bottom: 0;
  min-height: 0;
  padding: 0px;
}

#firstNavbar {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-inverse {
  background: transparent;
  border: none;
}

.navbar-inverse .navbar-form {
  border-color: red;
}

#mainNavbar {
  border: none;
  margin-left:0; 
  padding:5px 0 5px 0;
}

.container-fluid {
  border: 0;
  padding: 0;
}

.navbar-toggle {
  background: black;
}

#myNavbar ul li a {
  color: black;
  font-family: "Roboto", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
}

#myNavbar ul li a i {
  color: #d82323;
}

#myNavbar ul li a:hover {
  color: #d82323;
}

.defaultContainer {
  width: 1150px;
  margin: auto;
}

.header-wrapper{

  //background: red;
  background: url("../images/bg_header.png") right bottom;
  padding: 12px;
  margin-bottom: 10px;
}

.header-wrapper p {

  //width: 1150px;
  margin: 0 auto;
  color: #CF0214;
  font-size: 35px;
  font-weight: bold;
  padding: 0px
}

#mainNavbar {
  margin-top: 8px;
}

#mainNavbar ul{
  background-color: white;
  padding-top: 6px;
  padding-bottom: 6px;
}

#mainNavbar ul li a  {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
}

#mainNavbar ul li a:hover {
  color: #d82323;
}

#mainNavbar ul li .active {
  color: #d82323;
}

#navSecond {
  margin-left: 10px;
}

#loginMenu {
  float: right;
}

.footer{
  background: url("../images/bg_footer.png");
  padding: 20px;
}

.navbarBottom ul li a{
  color: grey;
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px;
}

.navbarBottom ul li a i {
  color: grey; 
}

.navbarBottom ul li a.hover, .navbarBottom ul li a.active, .navbarBottom ul li a i:hover {
  color: #d82323;
  background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a:hover {
  color: #DD1818;
  background-color: transparent;
}

.btn {
  border-radius: 0;
}

.btn-danger {
  background-color: #d82323;
}

.btn-danger:hover {
  background-color: black;
  border-color: black;
}

.form-control select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.form-control:focus { 
    border-color: red;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.breadcrumb li a {
  color: black;
}

.breadcrumb li a:hover, .breadcrumb > .active {
  color: #d82323;
  text-decoration: none;
}

@media (max-width: 767px) {

  .header-wrapper{
    background: url("../images/bg_footer.png") right bottom;
  }
}