
.breadcrumb {
  background-color: transparent;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.breadcrumb li a {
  color: black;
}

.breadcrumb li a:hover, .breadcrumb > .active {
  color: #d82323;
  text-decoration: none;
}

#detail-title {
  background-color: #f1f1f1;
  padding: 15px;
}

.detail-box {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid gray;
}


#car-specs {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  border: 1px solid gray;
}

#car-specs div {
  margin-left: 10px;
  margin-right: 10px;
}

#car-specs div span {

  padding: 5px;
}

.bold {
  font-weight: bold;
}

#extras div p {
  font-weight: bold;
  margin: 2px;
}

#car-desc {
  margin-top: 10px;
  margin-bottom: 10px;
}
