
.jumbotron {
  background-color: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}

#form-area {
    border: 1px solid gray;
    padding: 15px;
    margin-bottom: 10px;
    //float:left;
}

.form-control {
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  resize: none;
}

.input-group {
  width: 100%;
  margin-top: 10px;
}

.search-buttons {
  //width: 50px;
  margin-right: 10px;
}

.search-buttons .btn-default {
  color: #CF0214;
  width: 50px;
  border-radius: 0 0 0 0;
  border-color: grey;
  margin: 0 5px 5px 5px;
}

.container #scroller li {
  margin: 5px;
}

.container #scroller li .sroll-item{
  height: 200px;
  position: relative;
}

.item-title, .item-price {
  text-align: center;
  color: white;
  padding: 10px;
  background-color:rgba(0,0,0,0.5);
}

.item-price {
  width: 100%;
  bottom: 0;
  position: absolute;
}


/*.simply-scroll .simply-scroll-clip {
  width: 1140px;
  height: 200px;
}*/

/* Custom class modifications - adds to / overrides above

.simply-scroll is default base class */

/* Container DIV */
.simply-scroll { 
  width: 100%;
  height: 200px;
  margin-bottom: 1em;
}

/* Clip DIV */
.simply-scroll .simply-scroll-clip {
  width: 100%;
  height: 200px;
}
  
/* Explicitly set height/width of each list item */ 
.simply-scroll .simply-scroll-list li {
  float: left; /* Horizontal scroll only */
  //width: 120px;
  height: 200px;
}