hr {
	width: 100%
}

.car-list {
	padding: 5px;
}

.car-list .row{
	height: 130px;
	border: 1px solid gray;
	padding: 5px;
	margin-bottom: 5px;
	color: black;
}

.car-list .row:hover{
	border: 2px solid red;
	color: black;
}

.car-list .row:visited{
	color: black;
}

.list-car-title {
	font-size: 18px;
	font-weight: bold;
}

.list-car-detail {
	margin-top: 10px;
	font-size: 12px;
}

.vcenter {
	height: 100%;
	position: relative;
}

.list-car-price {
	position: absolute;
  	top: 50%;
  	transform:translateY(-50%);
	font-size: 16px;
	font-weight: bold;
}