
form {
	//border: 1px solid gray;
	//margin: 20px;
	//padding: 20px;
	//width: 100%;
    //margin-right: auto;
    //margin-left: auto;
}

.centred {
	width: 40%;
    margin-right: auto;
    margin-left: auto;
}

.centred-section2 {
	width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.centred-section3 {
	width: 95%;
    margin-right: auto;
    margin-left: auto;
}

#checkbox-2col {
	padding-top: 25px;
}

.input-group {
  width: 100%;
  margin-top: 10px;
}

hr {
	width: 50%;
	color: gray;
}

.middle-label {
	width:25px;
	margin:0; 
	padding:0
}

.left-label {
	padding-left: 0px;
}

.control-label {
    text-align: right;
}

radio {
	color: red;
}

label {
	padding-left: 2px;
}

.form-control {
	margin-top: 0px;
	margin-bottom: 10px;
}

.results-label {
	padding-top: 10px;
	text-align:right;
}


@media (max-width: 991px) {

	.centred{
		width: 60%;
	}

	.results-label {
		text-align:left;
	}
}

@media (max-width: 767px) {

	#checkbox-2col {
		padding-top: 0px;
	}

 	.centred, .centred-section2, .centred-section3{
    	width: 100%;
  	}

  	.middle-label {
		width:25px;
		margin-left:10px; 
		padding:5px;
	}

	.left-label {
		padding-left: 15px;
	}
}