
form {
	border: 1px solid gray;
	margin: 20px;
	padding: 20px;
}

.control-label {
    text-align: right;
}

radio {
	color: red;
}

label {
	padding-left: 2px;
}

.form-control {
	margin-top: 0px;
	margin-bottom: 10px;
}