<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <label>Marca</label>
      <select class="form-control"></select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <label>Preço de</label>
      <select class="form-control"></select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <label>Preço até</label>
      <select class="form-control"></select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <label>Modelo</label>
      <select class="form-control"></select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <label>Ano de</label>
      <select class="form-control"></select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <label>Ano até</label>
      <select class="form-control"></select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="input-group">
      <label>Combustível</label>
      <select class="form-control"></select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <label>Horas de</label>
      <select class="form-control"></select>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <label>Horas até</label>
      <select class="form-control"></select>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">

    <div class="row">
      <div class="col-sm-12">
        <div class="input-group">
          <label>Localização</label>
          <select class="form-control"></select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5">
        <div class="input-group">
          <label>Ordenar por</label>
        </div>
      </div>
      <div class="col-sm-7">
        <div class="input-group" id="order-by">
          <div class="btn btn-default" style="margin-right:2px;">
            <i class="fa fa-long-arrow-up"></i>
            <i class="fa fa-euro fa-lg"></i>
          </div>
          <div class="btn btn-default">
            <i class="fa fa-long-arrow-up"></i>
            <i class="fa fa-calendar fa-lg"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
      <div class="input-group">
        <div class="row" style="padding-top:10px">
          <div class="col-sm-12 col-sm-offset-4">
            <div class="input-group">
            <button type="submit" class="btn btn-danger">Pesquisar</button>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-12 col-sm-offset-3">
              <a href="#">Pesquisa avançada</a>
        </div>
      </div>
    </div>
  </div>
</div>